<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">

        <p>
        <div class="col-5 offset-md-0">
            <h2>You just added new user!</h2>
        </div>
        </p>

        <p>
        <div class="col-2 offset-3">
            <a class="btn btn-success pull-left" href="/users/create">Add new user</a>
            <!--<button type="button" class="btn btn-success" href="/songs/create">Add new song</button>-->

        </div>
        </p>

        <p>
        <div class="col-5 offset-9">
            <div class="row">
                <a class="btn btn-success" href="/index">Go to main page</a>
            </div>
        </div>
        </p>

    </div>
</div>



</body>
</html>