<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL SONGS</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-6 offset-2 mt-5">
                <h1>You just added new song!</h1>
            </div>
        </div>


        <div class="row mt-5">
            <div class="offset-2 col-4">
                <a class="btn btn-lg btn-success" href="/songs/create">Add new song</a>
            </div>
            <div class="col-4">
                <a class="btn btn-lg btn-success" href="/index">Go to main page</a>
            </div>
        </div>

    </div>


</body>
</html>